<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tindify</title>

    <!-- FONTS -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <!-- JS  -->
    <script type="text/javascript" src="javascripts/jquery.js"></script>

  </head>

  <body>
    {{{body}}}
  </body>

</html>
