<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tindify</title>
    <link rel="shortcut icon" href="images/tinderfy.png">    

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <!-- JS  -->
    <script type="text/javascript" src="javascripts/jquery.js"></script>

  </head>

  <body>
    {{{body}}}
  </body>

</html>
