<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tindify</title>
    <link rel="shortcut icon" href="images/tinderfy.png">    

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <!-- JS  -->
    <script type="text/javascript" src="javascripts/jquery.js"></script>

  </head>

  <body>
    <!-- Left navbar -->
    <div id="nav">
      <a href="/"><img src="images/tindify.png" alt="Tindify" style="width:100px"></a>
      <h1>Tindify</h1>
      <a href="#">Home</a>
      <a href="#">Songs</a>
      <a href="#">Playlist</a>
    </div>
    <!-- Main content -->
    <div id="main">
      {{{body}}}
    </div>
  </body>

</html>
