<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twoterville</title>

    <!-- FONTS -->
    <link href='//fonts.googleapis.com/css?family=Muli|Indie+Flower|Rock+Salt|Lobster+Two' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <!-- JS  -->
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/twotes_highlight.js"></script>
    <script type="text/javascript" src="javascripts/logged_in_setup.js"></script>
    <script type="text/javascript" src="javascripts/new_twote.js"></script>
    <script type="text/javascript" src="javascripts/login.js"></script>
    <script type="text/javascript" src="javascripts/user_highlight.js"></script>

  </head>

  <body>
    {{{body}}}
  </body>

</html>