<h1>
  Welcome to {{title}}!
</h1>
<h2>
  What if listening to music were as easy as romance?
</h2>

<p>
  Tindify grabs random Spotify playlists from random categories,<br>
  then gives you a 30 second clip to hear. If you like it, click<br>
  right (button or keyboard) and it will be added to a Spotify<br>
  playlist called Tindify on your account. Don't like the song?<br>
  Click left and move on to the next song.<br>
</p>

<h2>
  Interested? Login to begin!
</h2>

<div>
  <div id="login">
    <a id="login" href="/login"><img src="images/login.png"></a>
  </div>
</div>
