<h1>
	{{trackName}}
</h1>
<h2>
  {{artistName}}
</h2>
<audio controls autoplay id="player">
  <source src={{previewURL}} type="audio/mpeg">
</audio>
<br>
<button id="skipSong">Skip</button>
<button id="addSong">Add</button>

<script type="text/javascript" src="javascripts/swipe.js"></script>