<!--Player page for one track, from which you can add or skip the track -->

<h1>
	{{trackName}}
</h1>
<h2>
  {{artistName}}
</h2>
<button id="skipSong">Skip</button>
<button id="addSong">Add</button>
<br>
<div id="player">
  <audio controls autoplay>
    <source src={{previewURL}} type="audio/mpeg">
  </audio>
</div>
<br>
<span id="arrowHelp">
	<h4>
		(Or press LEFT to skip, and RIGHT to add)
	</h4>
</span>
<span id="playlistInfo">
	<h4>
		Currently pulling tracks from '{{playlistName}}'.
		<a href="findSongs" id="changePlaylist">
			(Want a different sound?)
		</a>
	</h4>
</span>

<script type="text/javascript" src="javascripts/swipe.js"></script>
