body {
  margin: 0;
  background-color: #22221F;
  overflow: hidden;
}
h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 250%;
  color: #ECF0F1;
}
h2 {
  text-align: center;
  font-weight: 800;
  font-size: 175%;
  margin: 15px 15px 15px;
  font-family: 'Roboto', sans-serif;
  color: #3498DB;
}
p {
  font-size: 150%;
  margin: 15px 0;
  color: #ECF0F1;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #ECF0F1;
}
a#login {
  font-size: 150%;
  margin: 0px 15px;
}
div#nav {
  overflow: hidden;
  width: 100px;
  float: left;
  display: inline;
  height: 2000px;
  margin: 0;
  padding: 15px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  color: #ECF0F1;
  text-align: center;
  font-size: 150%;
  background-color: #3B3C36;
}
div#nav h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
  margin: 0px 0px 15px;
}
div#nav a {
  font-size: 100%;
  float: left;
}
div#nav a#nav {
  text-align: center;#ECF0#ECF0F1F1
  padding: 10px 15px 0px 15px;
}
div#nav img {
  margin-left: 15px;
}
div#main {
  width: 500;
  float: center;
  text-align: center;
  margin: 10px;
  padding: 0;
  display: inline;
}

h4 {
  color: #ECF0F1
}

#changePlaylist {
  text-decoration: underline;
}

div#main p {
  font-family: 'Roboto', sans-serif;
  font-size: 125%;
  padding: 15px;
}
div#player {
  float: center;
}
#skipSong {
  float: left;
  background-image: url(../images/x.png);
  font-size: 18px;
  font-style: italic;
  text-align: center;
  width: 5%;
  height: 40px;
  outline: none;
  margin-left: 100px;
  border-radius: 3px;
  border-color: transparent;
}
#addSong {
  float: right;
  background-image: url(../images/check.png);
  font-size: 18px;
  font-style: italic;
  text-align: center;
  width: 5%;
  height: 40px;
  outline: none;
  margin-right: 100px;
  border-radius: 3px;
  border-color: transparent;
}
